# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Vite output
dist
dist-ssr
.vite/

# Env files
*.local
.env
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# VS / Windows / macOS
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Prettier cache
.prettiercache

# Test/coverage (если появятся)
coverage/
