@import './variables';

@mixin font($weight: 400, $style: normal) {
  font-family: $font-main;
  font-weight: $weight;
  font-style: $style;
}

@mixin container() {
  width: 100%;
  max-width: 1240px;
  padding: 0 100px;
  margin: 0 auto;
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
