$color-white: #ffffff;
$color-gray-background: #EEEFF1;
$color-gray-content-tertiary: #A1A1AA;
$color-gray-main: #2E2F30;
$color-orange: #F58E54;
$color-blue: #7388F3;
$color-purple: #a77ce8;
$color-green: #8FC746;

$font-main: 'Montserrat', sans-serif;


