$color-white: #ffffff;
$color-gray-background: #eeeff1;
$color-gray-content-tertiary: #a1a1aa;
$color-gray-border-primary: #e4e4e7;
$color-gray-main: #2e2f30;
$color-orange: #f58e54;
$color-blue: #7388f3;
$color-purple: #a77ce8;
$color-green: #8fc746;

$font-main: 'Montserrat', sans-serif;
