@import './variables';
@import './mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include font();
    color: $color-gray-main;
    background-color: $color-gray-background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 140px;
    mix-blend-mode: soft-light;
    left: 0;
    width: 100%;
    height: 1200px;
    background: url('/src/assets/icons/patternTop.svg') center top no-repeat;
    background-size: cover;
    z-index: -1;
}

body::after {
    content: '';
    position: absolute;
    bottom: 0;
    mix-blend-mode: soft-light;
    left: 0;
    width: 100%;
    height: 1200px;
    background: url('/src/assets/icons/patternBottom.svg') center top no-repeat;
    background-size: cover;
    z-index: -1;
}
