@import './variables';
@import './mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    @include font();
    color: $color-gray-main;
    background-color: $color-gray-background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;
}

body::before,
body::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    overflow: hidden;

    mix-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: -1;
    pointer-events: none;
}

body::before {
    top: 140px;
    height: 1200px;
    background-image: url('/src/assets/icons/patternTop.svg');
}

body::after {
    bottom: 0;
    height: 1200px;
    background-image: url('/src/assets/icons/patternBottom.svg');
}
