@import '../../styles/sass/global';

.hero {
    padding: 19px 0 56px 0;
    @media screen and (max-width: 1024px) {
        padding: 0;
    }
}

.container {
    @include container();
}

.content {
    display: flex;
    position: relative;
    background-color: $color-white;
    border-radius: 16px;

    .buttonWrapper {
        width: 100%;
    }

    .heroIntro {
        flex: 1 1 50%;
        min-height: 436px;
        max-width: 712px;
        border-radius: 16px 50px 50px 16px;
        z-index: 2;
        position: relative;
        margin-right: -5%;
        background-color: $color-white;

        .textAndButton {
            @include flex(column, center, flex-start, nowrap);
            padding: 43px 52px 0 58px;

            .title {
                margin-bottom: 12px;
            }

            .text {
                margin: 12px 0 32px;
            }

            .orangeButton {
                margin-bottom: 21px;
            }

            .button {
                @include flex(row, center, center, nowrap);
                transform: translateY(50%);
            }

            @media screen and (max-width: 1024px) and (min-width: 575px) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                .orangeButton {
                    width: 100%;
                }

                .button {
                    flex: 0 0 45%;
                    transform: none;
                    margin: 0;
                }
            }
        }
    }

    .imageWrapper {
        flex: 1 1 50%;
        position: relative;
        width: 613px;
        max-width: 613px;
        height: auto;
        margin-left: 0;
        border-radius: 40px;
        border: 21px solid $color-white;
        z-index: 1;
        overflow: visible;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 40px;
        }

        .topCardsGroup {
            position: absolute;
            top: 25px;
            right: -60px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 15.7px;
            z-index: 4;
        }

        .cardsGroup {
            position: absolute;
            bottom: 0;
            right: -60px;
            display: flex;
            align-items: flex-end;
            gap: 5.5px;
            transform: translateY(90%);
            z-index: 5;
        }

        .tireReplace,
        .callRequest,
        .body,
        .bodyColor {
            position: static;
            flex-shrink: 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .content {
        flex-direction: column;

        .heroIntro {
            flex: unset;
            order: 1;
            width: 100%;
            max-width: 100%;
            min-height: unset;
            height: auto;
            padding: 0 21px;

            .textAndButton {
                padding: 10px 0;

                .orangeButton,
                .button {
                    width: 100%;
                    margin: 0;
                }
                .text {
                    margin: 0 0 27px 0;
                }
            }
        }

        .imageWrapper {
            flex: unset;
            order: 2;
            width: 100%;
            max-width: 100%;
            height: auto;

            .image {
                width: 100%;
                height: auto;
                border-radius: 14px;
            }

            .topCardsGroup {
                transform: scale(0.9);
            }

            .cardsGroup {
                transform: translateY(90%) scale(0.9);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .content {
        .imageWrapper {
            .topCardsGroup {
                top: 0;
                transform: scale(0.8);
            }

            .cardsGroup {
                transform: translateY(90%) scale(0.85);
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .content {
        .imageWrapper {
            .topCardsGroup {
                right: -40px;
                top: -20px;
                gap: 3px;
                transform: scale(0.6);
            }

            .cardsGroup {
                transform: translateY(70%) scale(0.8);
                right: -12px;
            }
        }
    }
}
