@import '@/styles/sass/global';

.typography {
    font-family: 'Montserrat', sans-serif;
}

.regular_12 {
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}

.regular_14 {
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.regular_16 {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.regular_18 {
    font-size: 18px;
    font-weight: 400;
    line-height: 122%;
}

.medium_14_21 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.medium_14_140 {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.medium_18 {
    font-size: 18px;
    font-weight: 500;
    line-height: 122%;
}

.semibold_15 {
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
}

.semibold_18 {
    font-size: 18px;
    font-weight: 600;
    line-height: 140px;
}

.semibold_38 {
    font-size: 38px;
    font-weight: 600;
    line-height: 110%;
}

.semibold_36 {
    font-size: 36px;
    font-weight: 600;
    line-height: 180%;
}
