@import '../../styles/sass/global';

.hero {
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;
}

.container {
    padding: 24px 0 20px 0;
    @include container();
}

.content {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    padding: 22px 48px;
    background-color: $color-white;
    border-radius: 16px;
    @include flex(row, space-between, center, nowrap);

    .logoAndSlogan {
        a {
            @include flex(row, flex-start, center, nowrap);
        }
        @include flex(row, flex-start, center, nowrap);

        .slogan {
            white-space: nowrap;
            padding-left: 18px;
            color: $color-gray-content-tertiary;
        }
    }

    .buttons {
    }
}

@media screen and (max-width: 1108px) {
    .hero {
        padding: 0 0 20px 0;
    }
    .content {
        padding: 22px 21px;

        .slogan {
            display: none;
        }
    }
}
