@import '../../styles/sass/global';

.hero {
    padding: 28px 0 0 0;
}

.container {
    @include container();
}

.content {
    padding-top: 56px;
    padding-bottom: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .logoAndText {
        p {
            margin-top: 20px;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            letter-spacing: 0;
            vertical-align: middle;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        //height: 98px;
        margin-right: 184px;
    }

    .firstLinks ul,
    .secondLinks ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .socialsContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 32px;
        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
        }

        .socials {
            margin-top: 10px;
            display: flex;
            gap: 8px;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                background-color: $color-white;
            }
        }
    }
}

.linksItem + .linksItem {
    margin-top: 16px;
}

.linksLink {
    display: inline-block;
    text-decoration: none;
    color: $color-gray-main;
    line-height: 21px;
    font-size: 14px;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

@media (max-width: 1439px) {
    .content {
        justify-content: space-between;

        .buttons {
            margin-right: 0;
        }
        .socialsContainer {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 575px) {
    .hero {
        padding: 60px 16px;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'logo logo'
            'firstLinks secondLinks'
            'buttons socials';
        gap: 16px;
        column-gap: 100px;
        padding: 0;
        .logoAndText {
            grid-area: logo;
            width: 100%;
            margin-bottom: 16px;
        }

        .socialsContainer {
            grid-area: socials;
            width: 100%;
            align-items: flex-start;
        }

        .firstLinks {
            grid-area: firstLinks;
            width: 100%;
            margin-bottom: 16px;
            align-items: flex-start;
        }

        .secondLinks {
            grid-area: secondLinks;
            width: 100%;
            margin-bottom: 0;
            align-items: flex-start;
        }

        .buttons {
            grid-area: buttons;
            flex-direction: column;
            justify-content: flex-start;
            gap: 8px;
            margin: 0;
            width: 100%;
            align-items: flex-start;

            button {
                width: 100%;
                max-width: 240px;
            }
        }
    }
}

@media (max-width: 575px) {
    .hero {
        padding: 60px 16px;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'logo logo'
            'firstLinks socials'
            'secondLinks secondLinks'
            'buttons buttons';
        gap: 16px;
        padding: 0;

        .logoAndText {
            grid-area: logo;
            width: 100%;
            margin-bottom: 16px;
        }

        .firstLinks {
            grid-area: firstLinks;
            width: 100%;
            margin-bottom: 16px;
        }

        .socialsContainer {
            grid-area: socials;
            width: 100%;
            align-items: flex-start;
        }

        .secondLinks {
            grid-area: secondLinks;
            width: 100%;
            margin-bottom: 16px;
        }

        .buttons {
            grid-area: buttons;
            flex-direction: column;
            gap: 8px;
            align-items: center;
            margin: 0 auto;
            width: 100%;
        }

        .buttons a {
            width: 100%;
        }
    }
}
